.About-box {
    padding-top: 100px;
    text-align: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    color: white;
    background-color: #062147;
  }
  
  .About-box p {
    margin-right: 40px;
    font-size: 16px;
    padding: 0px 50px;
    margin-top: 60px;
    width: 100vh; 
    line-height: 30px;
    z-index: 0;
  }
  
  .About-box h1 {
    padding-bottom: 10px;
  }
  
  .About-box img {
    width: 400px;
    height: auto;
    opacity: 0.9;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
  }  

  .tBlur {
    position: absolute;
    height: 30%;
    width: 30%;
    min-width: 100px; 
    min-height: 300px; 
    top: 150%; 
    left: 30%; 
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #b3edffb3;
    filter: blur(100px);
    z-index: 0;
  }
  
   .bBlur {
    position: absolute;
    height:20%;
    width: 20%;
    min-width: 100px; 
    min-height: 200px; 
    top: 160%; 
    right: 13%; 
    transform: translate(50%, -50%);
    border-radius: 50%;
    background: rgba(183, 200, 235, 0.7);
    filter: blur(100px);
    z-index: 0;
  } 
  

  
  @media screen and (max-width: 480px) {
    .About-box {
      flex-direction: column; 
      align-items: center;
    }
  
    .About-box p {
      margin-right: 0; 
      width: 80%;
      margin-top: 30px; 
      padding: 20px; /* Adjust padding */
    }
  
    .About-box img {
      align-items: center;
      width: 80%; /* Adjust image width */
    }
  
  }
  